@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

* {
    padding: 0;
    margin: 0;
}

.rodape {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 32px 0 0 55px;
}

.formatacao_rodape {
    font-family: 'SoDo Sans SemiBold';
    font-size: 16px;
    font-weight: 100;
    color: #32312d;
    font-size: 15px;
    margin-left: 70px;
}

.formatacao_rodape h3 {
    margin: 50px 0 40px 0;
    font-weight: 100;
}

.formatacao_rodape p {
    color: rgba(0, 0, 0, .56);
    font-size: 13px;
    margin-bottom: 30px;
    font-weight: 100;
}

.formatacao_rodape p:hover {
    color: black;
}

.rodape img {
    margin: 45px 30px;
}

.historias_latinas {
    width: 120px;
    margin: 0;
    padding: 0;
}

.rodape_mobile {
    display: none
}

@media (min-width: 0px) and (max-width: 769px) {

    .rodape {
        display: none;
    }

    .rodape_mobile {
        margin-left: 40px;
        padding-top: 40px;
        display: flex;
    }

    .main-container {
        width: 50vw;
        margin: 0 auto;
      }
      
      .container-titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom:35px ;
        height: 30px;
        font-family: 'SoDo Sans SemiBold';
        width: 90vw;
      }
      
      .container-titulo button {
        border: none;
        background-color: #ffffff;
        margin-right: 30px;
        font-size: 25px;
      }
      
      .container-escondido {
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s ease;
        align-items: flex-start;
        text-align: start;
      }
      
      .container-visivel ul li {
          font-family: 'SoDo Sans SemiBold';
          color: rgba(0, 0, 0, .56);
          margin: 25px 0;
          font-weight: 100;
          list-style: none;
      }
      
      .container-escondido ul li {
          font-family: 'SoDo Sans SemiBold';
          color: rgba(0, 0, 0, .56);
          margin: 25px 0;
          font-weight: 100;
          list-style: none;
      }
      
      .container-visivel {
        max-height: 1000px;
        height: auto;
        transition: all 1s ease;
        display: flex;
        align-items: flex-start;
        text-align: start;
      }

    .historias_latinas {
        margin: 20px 10px;
    }
}

@media (min-width: 770px) and (max-width: 1000px) {
    .rodape {
        margin-left: 0;
    }

    .formatacao_rodape {
        margin-left: 30px;
        width: 120px;
    }

    .rodape_mobile {
        display: none;
    }
}

@media (min-width: 1001px) and (max-width: 1200px) {

    .rodape {
        margin-left: 90px;
    }

    .formatacao_rodape {
        margin-left: 55px;
        width: 120px;
    }

    .rodape_mobile {
        display: none;
    }
}