*{
    margin: 0;
    padding: 0;
}

.container-principal{
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.container-principal li{
    width: 1440px;
    margin: 0 auto;
    list-style: none;
}
