#app {
  height: 100%;
}

html,
body {
  position: relative;
}

body {
  font-size: 0.875rem;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 90rem;
  margin-bottom: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
