@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

*{
    margin: 0;
    padding: 0;
}

.corpo{
    margin: 0 auto;
    overflow-x: hidden;
}

.carrossel{
    margin: 0 47px 32px 47px;
}

#dimensionamento{
    height: 191.4px;
    width: 75.5%;
    margin: 32px auto;
}

#dimensionamento p{
    width: 896px;
}

#dimensionamento2{
    width: 720px;
}

#dimensionamento2 p{
    width: 500px;
}

#dimensionamento3 p{
    width: 500px;
}

#container_maior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 32px auto 0 auto;
}

.divParaImagem1{
    width: 720px;
}

.divParaImagem1 img{
    width: 720px;
}

.estilo_compartilhado{
    background-color: #d4e9e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.estilo_compartilhado h3{
    margin: 0 0 24px 0;
    color: #1e3932;
    font-size: 25px;
    font-weight: 100;
    font-family: 'SoDo Sans SemiBold', sans-serif;
}


.estilo_compartilhado p{
    font-size: 17px;
    font-weight: 100;
    font-family: 'SoDo Sans SemiBold', sans-serif;
    text-align: center;
    line-height: 30px;
    color: #1e3932
}

.btn_maior{
    border-radius: 50px;
    padding: 6px 16px;
    font-family: 'SoDo Sans SemiBold';
    line-height: 1.2;
    border: 1px solid #1e3932;
    background: none;
    box-shadow: none;
    font-size: 15px;
    margin-top: 40px;
    color: #1e3932;
    transition: 0.2s
}

.btn_maior:hover{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px rgba(0,0,0,.87);
}

.btn_compartilhado{
    border-radius: 50px;
    padding: 6px 16px;
    font-family: 'SoDo Sans SemiBold';
    line-height: 1.2;
    border: 1px solid #1e3932;
    background: none;
    box-shadow: none;
    font-size: 15px;
    margin-top: 20px;
    color: #1e3932;
    transition: 0.2s
}

.btn_compartilhado:hover{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px rgba(0,0,0,.87);
}

.layout_compartilhado{
    display: flex;
    flex-direction: row;
    margin: 32px auto 0 auto;
    height: 420px;
    width: 1440px;
}

.dimensionamentoCompartilhado{
    width: 720px;
    height: 420px;
    margin: 0 auto 0 auto; 
}

.divParaImagem2{
    width: 720px;
    height: 420px;
}

.divParaImagem2 img{
    width: 720px;
    height: 420px;
}

footer{
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 100vw;
}

.rodape{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 32px 0 0 55px;
}

.formatacao_rodape{
    font-family: 'SoDo Sans SemiBold';
    font-size: 16px;
    font-weight: 100;
    color: #32312d;
    font-size: 15px;
    margin-left: 70px;
}

.historias_latinas{
    width: 120px;
    margin: 0;
    padding: 0;
}

.formatacao_rodape h3{
    margin: 50px 0 40px 0;
    font-weight: 100;
}

.formatacao_rodape p{
    color:rgba(0,0,0,.56);
    font-size: 13px;
    margin-bottom: 30px;
    font-weight: 100;
}

.formatacao_rodape p:hover{
    color: black;
}

.rodape img{
    margin: 45px 30px ;
}

hr{
    margin-left: 110px;
    width: 90%;
    color: #fefefe;
}

.redes_sociais{
    margin-left: 110px;
}

.redes_sociais img{
    margin: 45px 15px 30px 0;
    transition: 0.2s;
}

.redes_sociais img:hover{
    transform: scale(1.2);
}

.politicas{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    font-family: 'SoDo Sans SemiBold';
    font-weight: 100;
    font-size: 14px;
}

.politicas p{
    margin: 0 10px;
}

.corporation{
    margin: 45px 0 60px 100px;
    font-family: 'SoDo Sans SemiBold';
    font-weight: 100;
    font-size: 14px;
    color:rgba(0,0,0,.56);
}

/* Responsividade */

@media (min-width: 0px) and (max-width: 799px){

    .corpo{
        width: 100vw;
    }

    .estilo_compartilhado p {
        font-size: 14px;
    }

    .estilo_compartilhado h3{
        margin: 35px 0 0 0;
        text-align: center ;
    }

    #dimensionamento{
        width: 100vw;
        height: 250px;
    }

    #dimensionamento p{
        margin-top: 5px;
        max-width: 260px;
    }

    #container_maior{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    #divParaImagem1{
        height: 337px;
        width: 100vw;
    }

    #divParaImagem1 img{
        height: 337px;
        width: 100vw;
    }

    #dimensionamento2{
        width: 100vw;
        height: 720px;
    }

    #dimensionamento2 h3{
        margin: -10px 0 0 0;
        max-width: 230px;
    }

    #dimensionamento2 p{
        margin: 32px 0 0 0;
        max-width: 230px;
    }

    .btn_maior{
        width: 220px;
    }
  
    .layout_compartilhado{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-top: 32px;
        height: 500px;
    }

    .divParaImagem2{
        height: 228px;
        width: 100vw;
    }

    .divParaImagem2 img{
        height: 228px;
        width: 100vw;
    }

    .dimensionamentoCompartilhado{
        width: 100vw;
        height: 300px;
        padding-bottom: 25px;
    }

    .dimensionamentoCompartilhado h3{
        max-width: 230px;
        margin-bottom: 20px;
    }

    .dimensionamentoCompartilhado p{
        max-width: 270px;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        margin: 60px auto;
    }

    hr{
        max-width: 90%;
        margin-left: 5%
    }

    .redes_sociais{
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        margin-left: 10%;
    }

    .politicas{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }

    .politicas p{
        padding: 10px 0;
    }

    .corporation{
        margin-left: 5%; 
    }
}

@media (min-width: 800px) and (max-width: 1200px){

    #dimensionamento{
        width: 100vw;
    }

    #dimensionamento p{
        max-width: 55%;
    }

    #container_maior{
        width: 100vw;
        height: 700px;
    }

    #divParaImagem1{
        width: 385px;
        height: 700px;
        background-color: #d4e9e2;
    }

    #divParaImagem1 img{
        width: 385px;
        height: 331px;
        position: absolute;
        top: 28%;
    }

    #dimensionamento2{
        height: 700px;
    }

    #dimensionamento2 h3{
        max-width: 300px;
        margin-left: 200px;
    }

    #dimensionamento2 p{
        max-width: 270px;
        margin-left: 100px;
    }

    .btn_maior{
        width: 250px;
        margin-left: 100px;
    }

    .layout_compartilhado{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 280px;
        max-width: 100vw;
        margin-bottom: 32px;
    }

    .divParaImagem2{
        height: 280px;
        width: 50%;
        background-color: #d4e9e2;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .divParaImagem2 img{
        height: 225px;
        width: 100%;
    }

    .dimensionamentoCompartilhado{
        height: 280px;
        width: 50%;
    }

    .dimensionamentoCompartilhado h3{
        max-width: 250px;
        text-align: center;
        margin-top: 10px;
    }

    .dimensionamentoCompartilhado p{
        max-width: 250px;
        text-align: center;
    }

    .rodape{
        margin-left: 10px;
    }

    .formatacao_rodape{
        margin-left: 40px;
        width: 120px;
    }

    .formatacao_rodape:first-child{
        margin-left: 10px;
    }

    .redes_sociais{
        margin-left: 10px;
    }

    .politicas{
        margin-left: 10px;
    }

    .corporation{
        margin-left: 10px;
    }

}