@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 99.5px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1)
}

nav img{
    width: 51px;
    height: 51px;
    margin: 0 40px 0 40px;
}

.div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-family: 'SoDo Sans SemiBold';
    height: 51px;
}

.div1 li{
    display: inline;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0,0,0,.87);
    font-size: 13px;
    letter-spacing: 1px;
    margin: 0 23px 8px 0;
    
}

.div1 li:hover{
    color: rgb(4, 152, 4);
    cursor: pointer;
}

.div2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 51px;
    width: 545px;
    margin-right: 40px;
}

.historias_latinas{
    width: 120px;
    margin: 0;
    padding: 0;
}

.btn_entrar{
    border-radius: 50px;
    padding: 6px 16px;
    font-family: 'SoDo Sans SemiBold';
    color: rgba(0,0,0,.87);
    line-height: 1.2;
    background: none;
    border: 1px solid rgba(0,0,0,.87);
    box-shadow: none;
    font-size: 15px;
    margin-right: 4px;
    transition: 0.2s;
    
}

.btn_entrar:hover{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px rgba(0,0,0,.87);
    background-color: rgb(229, 227, 227);
}

.btn_participe{
    border-radius: 50px;
    padding: 6px 16px;
    font-family: 'SoDo Sans SemiBold';
    line-height: 1.2;
    background-color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.87);
    box-shadow: none;
    color: #ffffff;
    font-size: 15px;
    transition: 0.2s;
}

.btn_participe:hover{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px rgba(0,0,0,.87);
}

.encontreUmaLoja{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'SoDo Sans SemiBold';
    font-size: 14.5px;
    font-weight: 500;
    color: rgba(0,0,0,.87);
}

.encontreUmaLoja img{
    width: 21px;
    height: 21px;
    margin: 5px;
}

.corpo{
    margin: 0 auto;
    overflow-x: hidden;
}

.carrossel{
    margin: 0 47px 32px 47px;
}

.div_verde{
    height: 200px;
    background-color: #d4e9e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 47px 32px 47px;
}

.div_verde p{
    width: 896px;
    font-size: 17px;
    font-weight: 100;
    font-family: 'SoDo Sans SemiBold', sans-serif;
    text-align: center;
    line-height: 30px;
    color: #1e3932
}

.div_verde button{
    border-radius: 50px;
    padding: 6px 16px;
    font-family: 'SoDo Sans SemiBold';
    line-height: 1.2;
    border: 1px solid #1e3932;
    background: none;
    box-shadow: none;
    font-size: 15px;
    margin-top: 20px;
    color: #1e3932;
    transition: 0.2s
}

.div_verde button:hover{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px rgba(0,0,0,.87);
}

.div_dividida{
    display: flex;
    flex-direction: row;
    margin: 0 47px 32px 47px;
}

.reaproveitavel{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    font-family: 'SoDo Sans SemiBold';
    background-color: #d4e9e2;
    color: #1e3932;
    width: 100%;
    text-align: center;
}

.reaproveitavel h3{
    margin: 130px 0 24px 0;
    font-size: 25px;
    font-weight: 100;
}

.reaproveitavel p{
    font-weight: 100;
    line-height: 35px;
    width: 517px;
}

.reaproveitavel button{
    border-radius: 50px;
    padding: 6px 16px;
    font-family: 'SoDo Sans SemiBold';
    line-height: 1.2;
    border: 1px solid #1e3932;
    background: none;
    box-shadow: none;
    font-size: 15px;
    margin-top: 20px;
    color: #1e3932;
    transition: 0.2s
}

.reaproveitavel button:hover{
    transform: scale(0.9);
    box-shadow: 1px 1px 1px rgba(0,0,0,.87);
}

.div_repetida{
    height: 420px;
    display: flex;
    flex-direction: row;
    margin: 0 47px 32px 47px;
}

.div_repetida img{
    width: 720px;
}

footer{
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 100vw;
}

.rodape{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 55px;
}

.formatacao_rodape{
    font-family: 'SoDo Sans SemiBold';
    font-size: 16px;
    font-weight: 100;
    color: #32312d;
    font-size: 15px;
    margin-left: 70px;
}

.formatacao_rodape h3{
    margin: 50px 0 40px 0;
    font-weight: 100;
}

.formatacao_rodape p{
    color:rgba(0,0,0,.56);
    font-size: 13px;
    margin-bottom: 30px;
    font-weight: 100;
}

.formatacao_rodape p:hover{
    color: black;
}

.rodape img{
    margin: 45px 30px ;
}

hr{
    margin-left: 110px;
    width: 90%;
    color: #fefefe;
}

.redes_sociais{
    margin-left: 110px;
}

.redes_sociais img{
    margin: 45px 15px 30px 0;
    transition: 0.2s;
}

.redes_sociais img:hover{
    transform: scale(1.2);
}

.politicas{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    font-family: 'SoDo Sans SemiBold';
    font-weight: 100;
    font-size: 14px;
}

.politicas p{
    margin: 0 10px;
}

.corporation{
    margin: 45px 0 60px 100px;
    font-family: 'SoDo Sans SemiBold';
    font-weight: 100;
    font-size: 14px;
    color:rgba(0,0,0,.56);
}

/* Responsividade */

@media (min-width: 0px) and (max-width: 810px){
    nav{
        display: none;
    }
}